#Task1

In [ ]:
# 1. Create a list of products
products = ["Laptop", "Headphones", "Keyboard", "Mouse", "Notebook", "Pen"]

# 2. Create a tuple for one product
sample_product = ("Laptop", 55000, "Electronics")

# 3. Print 2nd and last product
print("Second product:", products[1])
print("Last product:", products[-1])

# 4. Append two new products
products.append("Charger")
products.append("USB Cable")

print("Updated products list:", products)

# 5. Extra (optional): Modify tuple by converting to list
sample_product_list = list(sample_product)
sample_product_list[1] = 52000  # change price
sample_product = tuple(sample_product_list)

print("Updated sample product:", sample_product)

Second product: Headphones
Last product: Pen
Updated products list: ['Laptop', 'Headphones', 'Keyboard', 'Mouse', 'Notebook', 'Pen', 'Charger', 'USB Cable']
Updated sample product: ('Laptop', 52000, 'Electronics')

#Task2

In [1]:
# Parallel category list
categories = [
    "Electronics",
    "Electronics",
    "Electronics",
    "Electronics",
    "Stationery",
    "Stationery"
]

# Create set from categories
categories_set = set(categories)

print("Unique categories:", categories_set)

# Add a new category
categories_set.add("Accessories")

print("Updated categories set:", categories_set)

Unique categories: {'Electronics', 'Stationery'}
Updated categories set: {'Accessories', 'Electronics', 'Stationery'}

In [2]:
# Check if a category exists in the set
check_category = "Electronics"

print(check_category in categories_set)

True

Extra (Optional): Total number of unique categories

In [3]:
# Get total number of unique categories
total_categories = len(categories_set)

print("Total unique categories:", total_categories)

Total unique categories: 3

#Task3

In [1]:
#Create the price dictionary (6 products)
price_dict = {
    "Laptop": 55000,
    "Headphones": 2000,
    "Keyboard": 1500,
    "Mouse": 800,
    "Notebook": 150,
    "Pen": 20
}

In [2]:
#Add a new product
price_dict["Charger"] = 1200

print("After adding new product:", price_dict)

After adding new product: {'Laptop': 55000, 'Headphones': 2000, 'Keyboard': 1500, 'Mouse': 800, 'Notebook': 150, 'Pen': 20, 'Charger': 1200}

In [3]:
#Update price of an existing product
price_dict["Mouse"] = 750

print("After updating price:", price_dict)

After updating price: {'Laptop': 55000, 'Headphones': 2000, 'Keyboard': 1500, 'Mouse': 750, 'Notebook': 150, 'Pen': 20, 'Charger': 1200}

In [7]:
#Remove a product
product_to_remove = "Tablet"
if product_to_remove in price_dict:
    del price_dict[product_to_remove]
    print(product_to_remove, "removed")
else:
    print(product_to_remove, "does not exist")

Tablet does not exist

In [8]:
#Print average price of all products
total_price = 0

for price in price_dict.values():
    total_price += price

average_price = total_price / len(price_dict)

print("Average product price:", average_price)

Average product price: 8660.0

In [17]:
#Extra (Optional): Product with maximum and minimum price
max_product = None
min_product = None

for product in price_dict:
    if max_product is None or price_dict[product] > price_dict[max_product]:
        print("Highest priced product:", product, price_dict[product])
        max_product = product
        print("Highest priced product:", max_product, price_dict[max_product])
    if min_product is None or price_dict[product] < price_dict[min_product]:
        min_product = product

print("Highest priced product:", max_product, price_dict[max_product])
print("Lowest priced product:", min_product, price_dict[min_product])

Highest priced product: Laptop 55000
Highest priced product: Laptop 55000
Highest priced product: Laptop 55000
Lowest priced product: Pen 20