#Task1: Basic Function- Price After Discount

In [1]:
# Task 1: Price After Discount

def apply_discount(price, discount_percent=5):
    # Ensure discount does not exceed 60%
    if discount_percent > 60:
        discount_percent = 60

    discount_amount = price * (discount_percent / 100)
    final_price = price - discount_amount
    return final_price



print(apply_discount(1000, 10))   # Expected: 900.0
print(apply_discount(500))        # Expected: 475.0 (default 5%)

900.0
475.0

#Task 2 – Recursive Function

In [2]:
# Task 2: Factorial

def factorial(n):
    if n < 0:
        print("Error: Factorial is not defined for negative numbers")
        return None
    if n == 0 or n == 1:
        return 1
    return n * factorial(n - 1)


# Tests
print(factorial(5))    # Expected: 120
print(factorial(0))    # Expected: 1
print(factorial(-3))   # Expected: Error message + None

120
1
Error: Factorial is not defined for negative numbers
None

#Task:3 -Lambda Function

In [5]:
# Task 3: GST Calculator using lambda

gst = lambda price: price + (0.18 * price)

# Test
print(gst(100))   # Expected: 118.0


# Extra (optional): GST + Discount together
final_price = lambda price, discount: (price + 0.18 * price) - (price * discount / 100)

print(final_price(100, 10))  # GST first, then 10% discount

118.0
108.0

#TTask:4 Using map()- Apply GST to List of Prices

In [6]:
# Task 4: Apply GST using map()

prices = [100, 250, 400, 1200, 50]

prices_with_gst = list(map(gst, prices))

print("Original prices:", prices)
print("Prices after GST:", prices_with_gst)

Original prices: [100, 250, 400, 1200, 50]
Prices after GST: [118.0, 295.0, 472.0, 1416.0, 59.0]

#Task:5 – Using filter()

In [8]:
# Task 5: Filter prices using filter()

prices = [100, 250, 400, 1200, 50, 2000, 850]

greater_than_500 = list(filter(lambda x: x > 500, prices))
less_or_equal_500 = list(filter(lambda x: x <= 500, prices))

print("Prices greater than 500:", greater_than_500)
print("Prices less than or equal to 500:", less_or_equal_500)

Prices greater than 500: [1200, 2000, 850]
Prices less than or equal to 500: [100, 250, 400, 50]

#Task:6 -Combined Utility Function

In [10]:
# Combined Utility Function


def process_prices(prices):
    # Apply 10% discount to all prices
    discounted_prices = list(map(lambda x: x - (0.10 * x), prices))

    # Keep only discounted prices above 300
    filtered_prices = list(filter(lambda x: x > 300, discounted_prices))

    return discounted_prices, filtered_prices


# Test
discounted, filtered = process_prices([100, 500, 900, 50, 750])

print("Discounted prices:", discounted)
print("Filtered prices (>300):", filtered)

Discounted prices: [90.0, 450.0, 810.0, 45.0, 675.0]
Filtered prices (>300): [450.0, 810.0, 675.0]

Task:7 Menu Using Functions

In [11]:
def add_price(prices_list, price):
    prices_list.append(price)

def get_average_price(prices_list):
    if len(prices_list) == 0:
        return 0
    return sum(prices_list) / len(prices_list)

def get_max_price(prices_list):
    if len(prices_list) == 0:
        return 0
    return max(prices_list)


prices = []

while True:
    print("\nMenu:")
    print("1 - Add price")
    print("2 - Show average price")
    print("3 - Show highest price")
    print("q - Quit")

    choice = input("Choose an option: ")

    if choice == "1":
        price = float(input("Enter price: "))
        add_price(prices, price)

    elif choice == "2":
        print("Average price:", get_average_price(prices))

    elif choice == "3":
        print("Highest price:", get_max_price(prices))

    elif choice == "q":
        break

    else:
        print("Invalid choice. Try again.")

Menu:
1 - Add price
2 - Show average price
3 - Show highest price
q - Quit
Choose an option: 1
Enter price: 300

Menu:
1 - Add price
2 - Show average price
3 - Show highest price
q - Quit
Choose an option: 1
Enter price: 500

Menu:
1 - Add price
2 - Show average price
3 - Show highest price
q - Quit
Choose an option: 1
Enter price: 870

Menu:
1 - Add price
2 - Show average price
3 - Show highest price
q - Quit
Choose an option: 2
Average price: 556.6666666666666

Menu:
1 - Add price
2 - Show average price
3 - Show highest price
q - Quit
Choose an option: 3
Highest price: 870.0

Menu:
1 - Add price
2 - Show average price
3 - Show highest price
q - Quit
Choose an option: q