In [1]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

import requests
import sqlite3

In [2]:
df = pd.read_csv("train.csv")

In [3]:
print("Shape:", df.shape)
print("\nColumns:\n", df.columns)

Shape: (891, 12)

Columns:
 Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [4]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [7]:
df.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

##Load Data from JSON

In [8]:
json_data = [
    {"product_id": 1, "name": "Laptop", "price": 60000},
    {"product_id": 2, "name": "Mobile", "price": 25000},
    {"product_id": 3, "name": "Tablet", "price": 18000}
]

json_df = pd.DataFrame(json_data)
json_df

   product_id    name  price
0           1  Laptop  60000
1           2  Mobile  25000
2           3  Tablet  18000

Load Data from SQL Database (SQLite)

In [9]:
conn = sqlite3.connect("sample.db")
cursor = conn.cursor()

In [10]:
cursor.execute("""
CREATE TABLE IF NOT EXISTS employees (
    id INTEGER,
    name TEXT,
    department TEXT,
    salary INTEGER
)
""")

In [11]:
cursor.executemany("""
INSERT INTO employees VALUES (?, ?, ?, ?)
""", [
    (1, "Amit", "IT", 60000),
    (2, "Neha", "HR", 45000),
    (3, "Rahul", "Finance", 70000),
    (4, "Pooja", "IT", 65000),
    (5, "Ankit", "Sales", 50000)
])

In [12]:
conn.commit()

In [13]:
sql_df = pd.read_sql("SELECT * FROM employees", conn)
sql_df

   id   name department  salary
0   1   Amit         IT   60000
1   2   Neha         HR   45000
2   3  Rahul    Finance   70000
3   4  Pooja         IT   65000
4   5  Ankit      Sales   50000

In [14]:
conn.close()