# NumPy Assignment — Mathematical & Statistical Operations

## Task 1 Creating NumPy Arrays
We will create: (a) a 1D array from 1 to 10, (b) a 3×3 2D array 1..9, and (c) an array from a Python list.

In [5]:
import numpy as np

In [7]:
# Task 1
arr1 = np.arange(1, 11)  # 1..10
arr2 = np.arange(1, 10).reshape(3, 3)  # 3x3 matrix with 1..9
arr3 = np.array([10, 20, 30, 40, 50])

print('arr1:', arr1)
print('shape:', arr1.shape, '| dtype:', arr1.dtype)

print('arr2:', arr2)
print('shape:', arr2.shape, '| dtype:', arr2.dtype)

print('arr3:', arr3)
print('shape:', arr3.shape, '| dtype:', arr3.dtype)

arr1: [ 1  2  3  4  5  6  7  8  9 10]
shape: (10,) | dtype: int64
arr2: [[1 2 3]
 [4 5 6]
 [7 8 9]]
shape: (3, 3) | dtype: int64
arr3: [10 20 30 40 50]
shape: (5,) | dtype: int64

## Task 2 Important Mathematical Operations

In [9]:
# Task 2
A = np.array([10, 20, 30, 40])
B = np.array([1, 2, 3, 4])

print('A + B =', A + B)
print('A - B =', A - B)
print('A * B =', A * B)
print('A / B =', A / B)
print('A ** 2 =', A ** 2)

# Using NumPy function equivalents
print('np.add(A, B) =', np.add(A, B))
print('np.subtract(A, B) =', np.subtract(A, B))
print('np.multiply(A, B) =', np.multiply(A, B))
print('np.divide(A, B) =', np.divide(A, B))

A + B = [11 22 33 44]
A - B = [ 9 18 27 36]
A * B = [ 10  40  90 160]
A / B = [10. 10. 10. 10.]
A ** 2 = [ 100  400  900 1600]
np.add(A, B) = [11 22 33 44]
np.subtract(A, B) = [ 9 18 27 36]
np.multiply(A, B) = [ 10  40  90 160]
np.divide(A, B) = [10. 10. 10. 10.]

## Task 3 Important NumPy Mathematical Formulas
Using universal functions (ufuncs) for element‑wise operations and reductions.

In [8]:
# Task 3
values = np.array([2, 4, 6, 8, 10])

print('sqrt(values) =', np.sqrt(values))
print('exp(values) =', np.exp(values))
# For log, avoid zero or negative values; here all are positive.
print('log(values) =', np.log(values))
print('sum(values) =', np.sum(values))
print('cumulative sum =', np.cumsum(values))

sqrt(values) = [1.41421356 2.         2.44948974 2.82842712 3.16227766]
exp(values) = [7.38905610e+00 5.45981500e+01 4.03428793e+02 2.98095799e+03
 2.20264658e+04]
log(values) = [0.69314718 1.38629436 1.79175947 2.07944154 2.30258509]
sum(values) = 30
cumulative sum = [ 2  6 12 20 30]

## Task 4 Aggregation Operations
Row‑wise and column‑wise aggregations, plus overall min/max/mean.

In [10]:
# Task 4
data = np.array([
    [10, 20, 30],
    [40, 50, 60],
    [70, 80, 90]
])

print('Row-wise sum:', np.sum(data, axis=1))
print('Column-wise sum:', np.sum(data, axis=0))
print('Minimum value:', np.min(data))
print('Maximum value:', np.max(data))
print('Overall mean:', np.mean(data))

Row-wise sum: [ 60 150 240]
Column-wise sum: [120 150 180]
Minimum value: 10
Maximum value: 90
Overall mean: 50.0

## Task 5 Statistical Operations
Compute descriptive statistics for student marks.

In [11]:
# Task 5
marks = np.array([78, 85, 90, 66, 72, 88, 95, 60])

mean_val = np.mean(marks)
median_val = np.median(marks)
var_val = np.var(marks, ddof=0)  # population variance by default
std_val = np.std(marks, ddof=0)  # population standard deviation
min_val = np.min(marks)
max_val = np.max(marks)
range_val = max_val - min_val

print('Mean:', mean_val)
print('Median:', median_val)
print('Variance:', var_val)
print('Standard Deviation:', std_val)
print('Min:', min_val, '| Max:', max_val)
print('Range (max - min):', range_val)

Mean: 79.25
Median: 81.5
Variance: 134.1875
Standard Deviation: 11.583932838203095
Min: 60 | Max: 95
Range (max - min): 35

## Task 6 Percentiles & Sorting

In [12]:
# Task 6
sorted_marks = np.sort(marks)
p25 = np.percentile(marks, 25)
p50 = np.percentile(marks, 50)  # same as median
p75 = np.percentile(marks, 75)
above_avg_count = np.sum(marks > np.mean(marks))

print('Sorted marks:', sorted_marks)
print('25th percentile:', p25)
print('50th percentile (median):', p50)
print('75th percentile:', p75)
print('Count above average:', above_avg_count)

Sorted marks: [60 66 72 78 85 88 90 95]
25th percentile: 70.5
50th percentile (median): 81.5
75th percentile: 88.5
Count above average: 4

## Task 7 Mini Use Case — Sales Analysis

In [13]:
# Task 7
sales = np.array([1200, 1500, 900, 2000, 1800, 1700, 1600])

total_sales = np.sum(sales)
avg_sales = np.mean(sales)
max_idx = np.argmax(sales)  # 0-based index
min_idx = np.argmin(sales)
max_day, min_day = max_idx + 1, min_idx + 1  # day numbers 1..7
above_avg_days = np.where(sales > avg_sales)[0] + 1

print('Total weekly sales:', total_sales)
print('Average daily sales:', avg_sales)
print('Highest sales day:', max_day, 'with', sales[max_idx])
print('Lowest sales day:', min_day, 'with', sales[min_idx])
print('Days with above‑average sales (1=Mon .. 7=Sun):', above_avg_days)

Total weekly sales: 10700
Average daily sales: 1528.5714285714287
Highest sales day: 4 with 2000
Lowest sales day: 3 with 900
Days with above‑average sales (1=Mon .. 7=Sun): [4 5 6 7]